<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head-meta}}
  <link rel="stylesheet" type="text/css" href="styles/about.css">
  <title>О сайте</title>
</head>
<body>
{{> header-block}}

<main class="main">
  {{> navigation-block}}
  
  <div class="main-content">
    POPSTER - сайт для тех, кто хочет чем-то поделиться или просто полистать смешные картинки, новости

    <a href="mailto:mail@pez1nmax@mail.ru" class="email">Пезин Максим</a>
  </div>
</main>

{{> footer-block}}
</body>
</html>