<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/sign-in.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script type="text/javascript" src="scripts/sign-in.js"></script>
  <title>Авторизация</title>
</head>
<body>
<form class="sign-in-form">
  <div class="sign-in-form__title"><a href="/"><img src="images/logo.png"></a>Авторизация</div>
  <label>
    Логин:
    <input type="text" name="username" id="sign-in-login">
  </label>
  <br>
  <label>
    Пароль:
    <input type="password" name="password" id="sign-in-password">
  </label>
  <br>
  <input type="submit" value="Войти" class="sign-in-form__submit">
</form>
</body>
</html>
